{% extends 'base.html' %}
{% load static %}

{% block title %}
  About US
{% endblock %}

{% block content %}

<div class='container-fluid text-leftS'>
<h2>Way to Get Your New Job , We offer 12000 jobs vacation right now</h2>
<p>
    CareerUp is the most innovative and One of the largest online job portal in India.
    Founded in 2020, over the past decade, careerUp has become a prominent name in the recruitment industry.
    The popularity of the portal is evident from the fact that it has crossed the 3.4 crore candidate landmark
    and has more than 3 lakh latest job vacancies from leading companies on the site.
</p>
<p>
    CareerUp is the most innovative and One of the largest online job portal in India.
    Founded in 2020, over the past decade, careerUp has become a prominent name in the recruitment industry.
    The popularity of the portal is evident from the fact that it has crossed the 3.4 crore candidate landmark
    and has more than 3 lakh latest job vacancies from leading companies on the site.
</p>
</div>

{% endblock content %}